body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1061px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:176px;
  top:131px;
  width:890px;
  height:207px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u3 {
  position:absolute;
  left:108px;
  top:0px;
  width:102px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:30px;
}
#u5 {
  position:absolute;
  left:210px;
  top:0px;
  width:321px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:317px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u7 {
  position:absolute;
  left:531px;
  top:0px;
  width:177px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u9 {
  position:absolute;
  left:708px;
  top:0px;
  width:177px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:52px;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:52px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u13 {
  position:absolute;
  left:108px;
  top:30px;
  width:102px;
  height:52px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:52px;
}
#u15 {
  position:absolute;
  left:210px;
  top:30px;
  width:321px;
  height:52px;
  text-align:left;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:317px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:52px;
}
#u17 {
  position:absolute;
  left:531px;
  top:30px;
  width:177px;
  height:52px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:52px;
}
#u19 {
  position:absolute;
  left:708px;
  top:30px;
  width:177px;
  height:52px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:52px;
}
#u21 {
  position:absolute;
  left:0px;
  top:82px;
  width:108px;
  height:52px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u23 {
  position:absolute;
  left:108px;
  top:82px;
  width:102px;
  height:52px;
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:52px;
}
#u25 {
  position:absolute;
  left:210px;
  top:82px;
  width:321px;
  height:52px;
}
#u26 {
  position:absolute;
  left:2px;
  top:18px;
  width:317px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:52px;
}
#u27 {
  position:absolute;
  left:531px;
  top:82px;
  width:177px;
  height:52px;
}
#u28 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:52px;
}
#u29 {
  position:absolute;
  left:708px;
  top:82px;
  width:177px;
  height:52px;
}
#u30 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u31 {
  position:absolute;
  left:0px;
  top:134px;
  width:108px;
  height:34px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u33 {
  position:absolute;
  left:108px;
  top:134px;
  width:102px;
  height:34px;
}
#u34 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:34px;
}
#u35 {
  position:absolute;
  left:210px;
  top:134px;
  width:321px;
  height:34px;
}
#u36 {
  position:absolute;
  left:2px;
  top:9px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u37 {
  position:absolute;
  left:531px;
  top:134px;
  width:177px;
  height:34px;
}
#u38 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u39 {
  position:absolute;
  left:708px;
  top:134px;
  width:177px;
  height:34px;
}
#u40 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u41 {
  position:absolute;
  left:0px;
  top:168px;
  width:108px;
  height:34px;
}
#u42 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u43 {
  position:absolute;
  left:108px;
  top:168px;
  width:102px;
  height:34px;
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:34px;
}
#u45 {
  position:absolute;
  left:210px;
  top:168px;
  width:321px;
  height:34px;
}
#u46 {
  position:absolute;
  left:2px;
  top:9px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u47 {
  position:absolute;
  left:531px;
  top:168px;
  width:177px;
  height:34px;
}
#u48 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u49 {
  position:absolute;
  left:708px;
  top:168px;
  width:177px;
  height:34px;
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
